<!--
File Name: index.ejs
Student Name : Chaitanya Sai Ambarukhana
Student ID : 301150058
Date : 07/03/2021
App Name : Favorite Book List - Midterm
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


